.slider-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.slider-heading {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000;
  margin: 0;
}

.slider-text {
  margin: 0;
  font-size: 1rem;
  color: #515151;
  font-weight: 500;
}

.slider-track {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.slider-arrow {
  border: none;
  background: transparent;
  cursor: pointer;
}

.slider-logos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.slider-logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}

.slider-logo {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .slider {
    padding: 2rem;
  }

  .slider-track {
    padding: 0;
  }
  
  .slider-logos {
    padding: 0;
  }

}
