.footer {
  padding: 1rem;
}

.footer-line {
  height: 1px;
  width: 100%;
  background: #CBCBCB;
  margin-bottom: 2rem;
}

.footer-content {
  margin-top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.footer-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin: 0;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #515151;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #888;
}

.footer-links a.footer-cta {
  height: 51px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1434CB;
  background: #1434CB;
  padding: 1rem 2rem;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0px 10px 40px 0px #1434CB80;
}

.footer-links a.footer-cta:hover {
  box-shadow:
    0 0 28px rgba(39, 80, 240, 0.55),
    0 12px 28px rgba(8, 45, 223, 0.4);
  transition: transform 0.15s ease, box-shadow 0.2s ease;
}

.footer-copy {
  line-height: 18px;
  font-weight: 400;
  font-size: 11px;
  color: #7c7c7c;
  text-align: right;
  padding-top: 1rem;
}

@media (max-width: 720px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .footer-links {
    gap: 0.9rem;
  }

  .footer-links a.footer-cta {
    padding: 1rem;
  }

  .footer-copy {
    text-align: left;
  }
}

@media (max-width: 460px) {
  .footer-links a {
    font-size: .89rem;
  }
}

