.hero {
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.hero-inner {
  display: grid;
  grid-template-columns:  0.98fr 1.02fr;
  gap: 0.883rem;
}

.hero-left {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-right {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-underline-text {
  color: #1434CB;
  display: inline-grid;
}

.hero-brand h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin-top: 0;
}

.hero-logo {
  display: inline-flex;
  flex-direction: column;
  gap: 0.35rem;
  line-height: 1;
}

.hero-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.hero-card {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 577px;
  gap: 1.5rem;
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 24px 24px 0px #00000014;  
  backdrop-filter: blur(4px)
}

.hero-card-gradient {
  width: 100%;
  background: linear-gradient(180deg, #F6FBF8 0%, #F6FBF8 0.01%, rgba(246, 251, 248, 0) 100%);
  border-radius: 10px;
  gap: 1.5rem;
  padding: 2.25rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.card-name {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  margin: 0;
  padding-bottom: 0.313rem; 
}

.card-text {
  font-size: 1rem;
  font-weight: 500;
  color: #515151;
  margin: 0;
}

@media (max-width: 1024px) {
  .hero-inner {
    grid-template-columns: 1fr;
    min-height: auto;
  }

  .hero-left {
    align-items: center;
  }

  .hero-card {
    text-align: left;
  }

  .hero-image {
    height: auto;
    width: auto;
  }
}

@media (max-width: 768px) {
  .hero-card {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .card-avatar {
    margin: 0 auto;
  }
}
